*.tsbuildinfo
.eslintcache
.stylelintcache
/node_modules
/db
api/webpanel/dist/*
.env
/trash
TODO.md
senko-server-staus/server-status.exe - autostart.lnk
.vscode/settings.json
handlers/getRoleHandler.js
handlers/adminLogsChannel.js
commands/normal/audio-view.js
commands/normal/tsu.js
handlers/tsu.js
api/webpanel/config/public.js
/db (copy)
