*.tsbuildinfo
.eslintcache
.stylelintcache
/node_modules
api/webpanel/dist/*
.env
/trash
db/files/modlogs.json
db/files/servers.json
/db/files/audio
TODO.md
senko-server-staus/server-status.exe - autostart.lnk
.vscode/settings.json
handlers/getRoleHandler.js
handlers/adminLogsChannel.js
commands/normal/audio-view.js
commands/normal/tsu.js
handlers/tsu.js
/db
/db/files
